<div mat-dialog-title></div>
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent">Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>
